[Unit]
Description=GRIP API

[Service]
Type=simple
User=inetintel-grip
Group=coc-inetintel-grip
ExecStart=/usr/local/bin/grip-api
Restart=on-failure
SyslogIdentifier=grip-api

[Install]
WantedBy=multi-user.target
